.logo-container {
    z-index: 0;
    // width: 500px;
    // height: 809px;
    width: 500px;
    height:1200px;
    position: absolute;
    top: 0;
    right: 20%;
    bottom: 0;
    left: auto;
    margin: auto;
    opacity: 0;
    //display:none;
    @media screen and (max-width:700px) {
        right: 0%;
    }
    animation: fadeIn 1s forwards;
    animation-delay: 1s;


    svg {
        animation-name: flicker;
        animation-timing-function: step-end;
        animation-iteration-count: 1;
        animation-duration: 5s;
        @media screen and (max-width: 700px) {
            position: absolute;
            bottom: 25%;
            width: 60%;
            left: 25%;
            right: auto;
        }
        width: 100%;
        height: auto;
        bottom: 0;
        transform: rotateZ(-90deg) !important;
        overflow: visible;
        filter: drop-shadow(3px 5px 50px rgb(255, 202, 202 / 0.5));
    }

    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        opacity: 0;
        display:none;
        transform: rotateZ(30deg);
        z-index: 0;
    }
}

.svg-container {
    stroke: #FFCACA;
    stroke-width: 5px;
}

@keyframes flicker {
    from,
    to {
        opacity: 0.5;
    }
    0% {
        opacity: 0.5;
    }
    35% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 1;
        filter: drop-shadow(3px 5px 50px rgb(255, 202, 202 / 0.4));
    }
    77% {
        opacity: 0.5;
    }
    79% {
        opacity: 1;
        filter: drop-shadow(3px 5px 50px rgb(255, 202, 202 / 0.4));
    }
    81% {
        opacity: 0.5;
    }
    85% {
        opacity: 0.5;
    }
    88% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}